h1,h2,h3,h4,h5,h6,p {padding:0; display:inline-block;}
a{text-decoration:none; color:white;}

textarea {
    resize :vertical;
    margin-top :15px;
    font-family:'NotoSans-regular';
    font-size:13px;
}

input {
    background-color:inherit;
    border-width:0;
    border-style:none;
    font-weight:bold;
    font-size:15px;
    font-family:'NotoSans-bold';
}

body {
    background-color:#eee;
    font-family : 'NotoSans-regular';
    margin : 0;
}

.title { 
    text-align : left;
    background-color : #111;
    color : #ccc;
}

#img-pool {width:100%;}

img.show {display:block; width:100%;}
img.none {display:none;}


.container input {
    background-color:inherit;
    border-width:0;
    border-style:none;
    font-family:'NotoSans-bold';
    font-weight:bold;
    font-size:20px;
}

.worktimecol {
    margin:0;
    background-color:#fff;
    display:inline-table;
    padding:10px;
    width:30%;
    font-weight:bold;
    text-align:center;
}

.workcheckcol {
    margin:0;
    background-color:#fff;
    display:inline-table;
    padding:10px;
    width:60%;
    font-weight:bold;
}

.column {
    margin:1%;
    background-color:#fff;
    float:left;
    width:28%;
    display:block;
    padding:20px;
}

.workgroup {
    display: block;
    min-height : 200px;
    height: fit-content;
    align-content : top;
}

.workgroup {
    display: none;
    min-height : 200px;
    height: fit-content;
}

input.name {
    border-color : white;
    border-style:none;
    font-family:'NotoSans-bold';
    font-weight:bold;
    font-size:15px;
    width : 30%
}

input.checked {
    text-decoration : "line-through";
}

input.normal{}

input.todo {
    border-color : white;
    border-style : none;
    font-family:'NotoSans-bold';
    width:80%;
    font-size:15px;
}

input.current {
    width : 40px;
    font-size: 15px;
    text-align :right;
}

textarea.content{
    border-color : #eef;
    width : 100%;
    display : inline-block;
    min-height : 75px;
    font-size : 15px;
    margin-bottom :15px;
}

textarea#password { 
    border-color : #eef;
    width : 100%;
    min-height : 200px;
    height : fit-content;
    resize : none;
}

textarea.none { display : none;}

textarea.important { min-height : 500px;}

.footer {
    display : block; float : left;
}

button {
    background-color : skyblue;
    color : white;
    border : none;
    border-radius : 5px;
    padding : 0.5em;
    font-family : 'NotoSans-bold';
    font-weight; : bold;
}

button.big { 
    height : 2.5em;
    width : 5em;
    font-size : 25px;
    font-weight : bold;
}

button.text-fit, button.push-lock-selected { 
    height : 2.5em;
    font-size : 13px;
    font-weight : bold;
    margin : 5px;
}

button.push-lock {
    background-color : white;
    color : skyblue;
    height : 2.5em;
    font-size : 13px;
    font-weight : bold;
    margin : 5px;
}

button.small { 
    height : 2em;
    width : 3em;
    font-size : 15px;
}

button.smalldel { 
    background-color : pink;
    float : right;
    height : 2em;
    width : 3em;
    font-size : 10px;
    font-weight : bold;
}

button.smalldel#commentdel {
    background-color : pink;
    height : 2em;
    width : 3em;
    font-size : 15px;
}

button.fill, button.add-check {
    margin-top : 20px;
    width : 100%;
    font-size : 20px;
}