* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  color : black;
}
:root {
  --normal : 20px;
  --list-size : 70px;
}

@media (max-width :991px) {
  :root {
    --normal : 15px;
  }
}

#content {
  text-align : center;
  min-height: 100vh;
  padding : 10% 10% 0 10%;
  font-family : 'NotoSan-regular';
}

banner {
  width : 100%;
  display: block;
}

columns {
  display: flex;
}

column {
  flex : 1;
  padding-top : 30px;
}

column > h2:first-of-type {
  border-bottom: 1px gray solid;
  margin-bottom: 20px;
}

column ul {
  display : block;
  list-style: none;
}

column ul li {
  display : block;
  position: relative;
  border : 1px black solid;
  line-height: var(--list-size);
  min-height : var(--list-size);
  cursor : move;
}

button {
  display : inline-block;
  font-size : 1.5em;
  cursor: pointer;
  width : 100%;
  min-height : var(--list-size);
  border : 1px black solid;
  border-radius: 3px;
}

button:active {
  color : white;
  background-color: #33333355;
  transition: all .3s ease-in-out;
}

.cancel {
  display: inline-block;
  position : absolute;
  right : 0;
  top : 0;
  width :30px;
  height : 100%;
  font-size: 15px;
  cursor : pointer;
}

.dragging {
  display : none;
  opacity : .5;
}


li input {
  outline: none;
  border : none;
  text-align: center;
  width : 100%;
  font-size: var(--normal);
  vertical-align: center;
}
