* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  color : black;

}

#content {
  text-align : center;
  min-height: 100vh;
  padding : 10% 20% 0 20%;
  font-family : 'NotoSan-regular';
}

#content ul {
  display : block;
  list-style: none;
}

#content ul li {
  display : block;
  position: relative;
  border : 1px black solid;
  line-height: 50px;
  margin-top : 5%;
}

.buttons {
  display : inline-block;
  font-size : 1.5em;
  cursor: pointer;
  width : 50%;
}
.buttons:active {
  color : blue;
  background-color: #33333355;
  transition: all .3s ease-in-out;
}

.cancel {
  display: inline-block;
  position : absolute;
  right : 0;
  top : 0;
  width :30px;
  height : 100%;
  font-size: 15px;
  cursor : pointer;
}



li input {
  outline: none;
  border : none;
  text-align: center;
  width : 100%;
  vertical-align: center;
}
